SC2 Bulid Order App/res/xml/buildorderxmlschema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buildorderfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="buildorderfilename"/>
        <xs:element type="xs:string" name="author"/>
        <xs:element type="xs:byte" name="dbversion"/>
        <xs:element type="xs:byte" name="fileversion"/>
        <xs:element name="buildorder" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="buildname"/>
              <xs:element type="xs:string" name="race"/>
              <xs:element type="xs:string" name="buildinstructions"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>